# Tools
.idea
*.suo
*.user
*.sln.docstates
*.sln.ide/
*.userprefs
*.GhostDoc.xml
*.bicepparam
.vscode
.vs
.dapr

# Outputs
publish
results

# Docker env
.env
certs
clientCerts

# Build related
tools

# .NET
[Bb]in/
[Oo]bj/
[Pp]ackages/
appsettings.local.json

# Apple directory
.DS_Store

# Terraform
.terraform
terraform.tfstate

# Stream Analytics
LocalRunOutputs